contourpy==1.0.6
cycler==0.11.0
feature-engine==1.5.2
fonttools==4.38.0
joblib==1.2.0
kiwisolver==1.4.4
lazy_loader==0.1rc2
littleutils==0.2.2
matplotlib==3.6.2
numpy==1.23.5
outdated==0.2.2
pandas==1.5.2
pandas-flavor==0.3.0
patsy==0.5.3
Pillow==9.3.0
pingouin==0.5.2
plotly==5.11.0
pytz==2022.7
scikit-learn==1.0.2
scipy==1.9.3
seaborn==0.12.1
statsmodels==0.13.5
tabulate==0.9.0
tenacity==8.1.0
threadpoolctl==3.1.0
xarray==2022.12.0
